header {
  text-align: center; }
  @media only screen and (max-width: 768px) {
    header .wrapper {
      padding: 0; } }
  header .logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 2.125em;
    text-align: left; }
    header .logo img {
      height: auto;
      width: 100%; }
      @media only screen and (max-width: 768px) {
        header .logo img {
          height: 23px;
          width: 179px; } }
    header .logo p {
      padding: 5px 0;
      color: #747688;
      font: 400 1.0625em "PT Sans"; }
      @media only screen and (max-width: 768px) {
        header .logo p {
          font-size: 0.96875em;
          padding: 3px 0; } }
  header .search {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 1.8125em 5.75em 0 2.6875em;
    height: 40px;
    max-width: 496px;
    width: 50%; }
    @media only screen and (max-width: 768px) {
      header .search {
        margin: 1.8125em 1.25em 0 2.5em;
        max-width: 221px;
        width: 100%; } }
    header .search input {
      width: 100%;
      height: 100%;
      border-style: solid;
      border-width: 1px;
      border-color: #b9b8bd;
      border-radius: 4px; }
      header .search input[type="text"] {
        font: 400 1.0625em "PT Sans";
        padding-left: 10px; }
        header .search input[type="text"]::-webkit-input-placeholder {
          opacity: 1;
          transition: opacity 0.3s ease; }
        header .search input[type="text"]::-moz-placeholder {
          opacity: 1;
          transition: opacity 0.3s ease; }
        header .search input[type="text"]:-moz-placeholder {
          opacity: 1;
          transition: opacity 0.3s ease; }
        header .search input[type="text"]:-ms-input-placeholder {
          opacity: 1;
          transition: opacity 0.3s ease; }
        header .search input[type="text"]:focus::-webkit-input-placeholder {
          opacity: 0;
          transition: opacity 0.3s ease; }
        header .search input[type="text"]:focus::-moz-placeholder {
          opacity: 0;
          transition: opacity 0.3s ease; }
        header .search input[type="text"]:focus:-moz-placeholder {
          opacity: 0;
          transition: opacity 0.3s ease; }
        header .search input[type="text"]:focus:-ms-input-placeholder {
          opacity: 0;
          transition: opacity 0.3s ease; }
        @media only screen and (max-width: 768px) {
          header .search input[type="text"] {
            font-size: 0.875em; } }
    header .search svg {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px 9px 12px 0px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s; }
      header .search svg path {
        fill: #cb944c; }
      @media only screen and (max-width: 768px) {
        header .search svg {
          margin: 12px 9px 10px 0px;
          height: 15px;
          width: 15px; } }
  header .contacts {
    display: inline-block;
    text-align: left; }
    header .contacts p {
      display: inline-block;
      vertical-align: top;
      padding: 0; }
      header .contacts p:first-child {
        margin-right: 1.0625em;
        margin-top: 1.6875em;
        color: #181616;
        font: 400 1.5625em "PT Sans"; }
        @media only screen and (max-width: 768px) {
          header .contacts p:first-child {
            margin-right: 0.625em;
            font-size: 1.375em; } }
      header .contacts p:last-child {
        margin-top: 2.3125em;
        font: 400 1em "PT Sans"; }
        @media only screen and (max-width: 768px) {
          header .contacts p:last-child {
            font-size: 0.875em; } }
        header .contacts p:last-child span {
          color: #cb944c; }
  header .menu {
    text-align: left;
    font-family: 'PT Sans';
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
    padding: 0 15px 0 15px;
    width: 102%;
    margin-top: 0.8125em;
    margin-left: -1%; }
    header .menu::after {
      clear: both;
      content: "";
      display: table; }
    @media only screen and (max-width: 768px) {
      header .menu {
        border-top: none;
        border-bottom: none; } }
    @media only screen and (max-width: 768px) {
      header .menu {
        margin-left: 1%; } }
    header .menu .menu-left {
      float: left;
      border-top: none;
      border-bottom: none; }
      @media only screen and (max-width: 768px) {
        header .menu .menu-left {
          border-top: 1px solid #dddfdf;
          border-bottom: 1px solid #dddfdf;
          padding-left: 0.9375em;
          padding-right: 0.9375em; } }
      header .menu .menu-left ul {
        list-style: none; }
        header .menu .menu-left ul li {
          display: inline-block;
          position: relative;
          padding-top: 1.3125em;
          padding-bottom: 1.375em;
          font-size: 1.1em;
          font-weight: 700; }
          header .menu .menu-left ul li a {
            padding-top: 1.3125em;
            padding-bottom: 1.375em;
            color: #171717; }
          header .menu .menu-left ul li svg path {
            fill: #cb944c; }
          @media only screen and (max-width: 768px) {
            header .menu .menu-left ul li {
              font-size: 1.0em; } }
          header .menu .menu-left ul li:first-child {
            margin-right: 0.75em;
            padding: 0; }
          header .menu .menu-left ul li:nth-child(3) {
            margin-right: 1.625em; }
          header .menu .menu-left ul li:nth-child(4) {
            margin-right: 1.4375em; }
          header .menu .menu-left ul li:nth-child(5) {
            margin-right: 1.3125em; }
          header .menu .menu-left ul li:nth-child(6) {
            margin-right: 1.4375em; }
          header .menu .menu-left ul li:nth-child(3) {
            margin-right: 1.625em; }
          header .menu .menu-left ul li .menu-left-dropdown {
            position: absolute;
            top: 100%;
            padding-top: 8px;
            -webkit-animation-duration: 0.5s;
            -moz-animation-duration: 0.5s;
            animation-duration: 0.5s; }
            header .menu .menu-left ul li .menu-left-dropdown ul {
              display: none;
              background: #fff;
              border-color: #dddfdf;
              border-radius: 3px;
              border-style: solid;
              border-width: 1px; }
              header .menu .menu-left ul li .menu-left-dropdown ul ul li {
                font-size: 1em; }
                header .menu .menu-left ul li .menu-left-dropdown ul ul li:last-child {
                  padding-top: 0.9375em;
                  margin: 0 0 1.25em 0; }
                  header .menu .menu-left ul li .menu-left-dropdown ul ul li:last-child a {
                    margin: 0; }
              header .menu .menu-left ul li .menu-left-dropdown ul li {
                position: relative;
                display: -webkit-box;
                display: -moz-box;
                display: box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                box-orient: horizontal;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                flex-direction: row;
                -ms-flex-direction: row;
                -webkit-box-align: center;
                -moz-box-align: center;
                box-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -o-align-items: center;
                align-items: center;
                -ms-flex-align: center;
                height: 35px;
                width: 244px;
                margin: 0;
                padding: 0; }
                header .menu .menu-left ul li .menu-left-dropdown ul li a {
                  width: 100%;
                  padding: 0;
                  color: #666666;
                  font-weight: 400; }
                  @media only screen and (max-width: 768px) {
                    header .menu .menu-left ul li .menu-left-dropdown ul li a {
                      font-size: 1.1em; } }
                header .menu .menu-left ul li .menu-left-dropdown ul li img:first-child {
                  margin-right: 9px;
                  margin-left: 16px; }
                header .menu .menu-left ul li .menu-left-dropdown ul li svg {
                  margin-right: 17px;
                  height: 19px;
                  width: 15px;
                  -webkit-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  transform: rotate(90deg); }
                header .menu .menu-left ul li .menu-left-dropdown ul li:first-child {
                  margin-top: 0.9375em; }
                header .menu .menu-left ul li .menu-left-dropdown ul li:nth-child(4):hover .menu-left-dropdown-side > ul {
                  display: block; }
                header .menu .menu-left ul li .menu-left-dropdown ul li:last-child {
                  margin-bottom: 1.25em;
                  margin-top: 0.125em;
                  padding-bottom: 15px; }
                  header .menu .menu-left ul li .menu-left-dropdown ul li:last-child a {
                    margin-top: 0.9375em; }
                header .menu .menu-left ul li .menu-left-dropdown ul li h4 {
                  color: #cb944c;
                  padding: 1.4375em 0 0.625em 1.125em;
                  font-size: 1.0em;
                  cursor: default; }
                header .menu .menu-left ul li .menu-left-dropdown ul li:hover {
                  background-color: rgba(227, 227, 228, 0.77); }
            header .menu .menu-left ul li .menu-left-dropdown .menu-left-dropdown-side {
              position: absolute;
              top: 0;
              left: 100%;
              padding-left: 5px;
              -webkit-animation-duration: 0.5s;
              -moz-animation-duration: 0.5s;
              animation-duration: 0.5s; }
      header .menu .menu-left .menu-left-catalog {
        margin-right: 1.3125em; }
        header .menu .menu-left .menu-left-catalog svg {
          margin-left: 0.625em;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          height: 7px;
          width: 11px; }
        header .menu .menu-left .menu-left-catalog:hover .menu-left-dropdown > ul {
          display: block; }
    header .menu .menu-right_display-standalone {
      display: block; }
      @media only screen and (max-width: 768px) {
        header .menu .menu-right_display-standalone {
          display: none; } }
    @media only screen and (max-width: 1920px) {
      header .menu .menu-right_display-tablet {
        display: none; } }
    @media only screen and (max-width: 768px) {
      header .menu .menu-right_display-tablet {
        display: block; } }
    header .menu .menu-right {
      float: right; }
      @media only screen and (max-width: 768px) {
        header .menu .menu-right {
          margin-right: 7%; } }
      header .menu .menu-right ul {
        list-style: none; }
        header .menu .menu-right ul li {
          display: inline-block;
          vertical-align: middle; }
          header .menu .menu-right ul li p {
            padding: 0;
            color: #252a54;
            font-size: 1em;
            font-weight: 700; }
            @media only screen and (max-width: 768px) {
              header .menu .menu-right ul li p {
                font-size: 0.97em; } }
      header .menu .menu-right .menu-right-shop {
        margin-right: 0.75em;
        padding: 0; }
        @media only screen and (max-width: 768px) {
          header .menu .menu-right .menu-right-shop img {
            width: 22px;
            height: 22px; } }
      header .menu .menu-right .menu-right-ellipse {
        position: relative;
        margin-right: 0.3125em; }
        header .menu .menu-right .menu-right-ellipse img {
          padding: 0; }
          @media only screen and (max-width: 768px) {
            header .menu .menu-right .menu-right-ellipse img {
              width: 22px;
              height: 22px; } }
        header .menu .menu-right .menu-right-ellipse span {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          line-height: 21px;
          color: #ffffff;
          font-weight: 700; }
      header .menu .menu-right .menu-right-login {
        position: relative;
        margin: 1.125em 0.5em 1.1875em 1.1875em; }
        header .menu .menu-right .menu-right-login svg:first-child {
          height: 18px;
          width: 20px; }
          header .menu .menu-right .menu-right-login svg:first-child path {
            fill: #cb944c; }
        header .menu .menu-right .menu-right-login svg:last-child {
          position: absolute;
          height: 6px;
          width: 6px;
          bottom: 3px;
          right: 1px; }
          header .menu .menu-right .menu-right-login svg:last-child path {
            fill: white; }
      header .menu .menu-right .menu-right-enter a {
        padding: 0;
        color: #252a54;
        font-size: 1.1em;
        font-weight: 700; }
        @media only screen and (max-width: 768px) {
          header .menu .menu-right .menu-right-enter a {
            font-size: 1em; } }
  header .wrapper_standalone {
    display: block; }
    @media only screen and (max-width: 320px) {
      header .wrapper_standalone {
        display: none; } }
  header .wrapper_mobile {
    display: none;
    text-align: left;
    vertical-align: top; }
    @media only screen and (max-width: 320px) {
      header .wrapper_mobile {
        display: block; } }
    header .wrapper_mobile ul {
      background-color: #f0f1f6;
      display: flex;
      justify-content: space-between; }
      header .wrapper_mobile ul li {
        display: inline-block; }
    header .wrapper_mobile .menu-mobile-icon {
      padding: 12px 19px 12px 19px;
      vertical-align: top;
      background-color: #3eade2; }
      header .wrapper_mobile .menu-mobile-icon img {
        z-index: 1; }
    header .wrapper_mobile .menu-mobile-home {
      height: 40px;
      vertical-align: top;
      padding: 13px 10px 0 10px;
      margin-left: 8px; }
    header .wrapper_mobile .menu-mobile-search {
      height: 40px;
      vertical-align: top;
      padding: 13px 10px 0 10px;
      margin: 0 10px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      header .wrapper_mobile .menu-mobile-search path {
        fill: #dbdbdc; }
    header .wrapper_mobile .menu-mobile-shop {
      height: 40px;
      vertical-align: top;
      padding: 12px 10px 0 10px;
      margin: 0 10px; }
    header .wrapper_mobile .menu-mobile-login {
      height: 40px;
      vertical-align: top;
      padding: 13px 10px 0 10px;
      margin: 0 10px; }
      header .wrapper_mobile .menu-mobile-login div {
        position: relative; }
        header .wrapper_mobile .menu-mobile-login div svg:first-child path {
          fill: #dbdbdc; }
        header .wrapper_mobile .menu-mobile-login div svg:last-child {
          position: absolute;
          height: 6px;
          width: 6px;
          bottom: 3px;
          right: 1px; }
          header .wrapper_mobile .menu-mobile-login div svg:last-child path {
            fill: #fff; }
    header .wrapper_mobile .menu-mobile-phone {
      height: 40px;
      vertical-align: top;
      padding: 13px 10px 0 10px;
      margin-right: 18px; }
    header .wrapper_mobile .logo {
      margin-left: 20px;
      margin-top: 13px; }

main .slider {
  position: relative;
  margin: 0 auto;
  top: -1.25em;
  max-width: 1354px; }
  @media only screen and (max-width: 768px) {
    main .slider {
      top: -1.875em; } }
  main .slider svg {
    position: absolute;
    top: 43%;
    z-index: 1;
    background-color: rgba(210, 166, 107, 0.88);
    height: auto;
    width: 130px; }
    @media only screen and (max-width: 768px) {
      main .slider svg {
        width: 70px;
        top: 40%; } }
    main .slider svg path {
      fill: rgba(255, 255, 255, 0.88); }
    main .slider svg:first-child {
      left: -25px;
      padding: 8px 50px 15px 50px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      @media only screen and (max-width: 768px) {
        main .slider svg:first-child {
          padding: 8px 45px 15px 40px;
          left: -11px; } }
      @media only screen and (max-width: 320px) {
        main .slider svg:first-child {
          left: -31px;
          padding: 11px 40px 15px 30px; } }
    main .slider svg:nth-child(2) {
      right: -25px;
      padding: 8px 50px 15px 50px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
      @media only screen and (max-width: 768px) {
        main .slider svg:nth-child(2) {
          padding: 8px 45px 15px 40px;
          right: -11px; } }
      @media only screen and (max-width: 320px) {
        main .slider svg:nth-child(2) {
          right: -31px;
          padding: 11px 40px 15px 30px; } }
    main .slider svg:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.88); }
      main .slider svg:hover path {
        fill: rgba(210, 166, 107, 0.88); }
  main .slider .slider-wrapper {
    margin: 0 20px; }
    @media only screen and (max-width: 320px) {
      main .slider .slider-wrapper {
        margin: 0; } }
    main .slider .slider-wrapper div {
      position: relative; }
      main .slider .slider-wrapper div:first-child p {
        position: absolute;
        top: 35%;
        left: 10%;
        padding: 20px 48px 20px 33px;
        color: #ffffff;
        font-family: 'PT Sans';
        font-size: 3.1875em;
        background-color: rgba(210, 166, 107, 0.88); }
        @media only screen and (max-width: 768px) {
          main .slider .slider-wrapper div:first-child p {
            font-size: 1.5625em; } }
        @media only screen and (max-width: 320px) {
          main .slider .slider-wrapper div:first-child p {
            font-size: 1.25em;
            padding: 6px 20px 5px 8px; } }
      @media only screen and (max-width: 768px) {
        main .slider .slider-wrapper div img {
          width: 742px; } }
      @media only screen and (max-width: 320px) {
        main .slider .slider-wrapper div img {
          height: 124px;
          width: 320px; } }
    main .slider .slider-wrapper .slick-dots {
      text-align: center;
      margin-top: 30px; }
      main .slider .slider-wrapper .slick-dots li {
        list-style: none;
        display: inline;
        margin: 0 1px;
        padding: 10px; }
        @media only screen and (max-width: 320px) {
          main .slider .slider-wrapper .slick-dots li {
            display: none; } }
        main .slider .slider-wrapper .slick-dots li button {
          opacity: 1;
          height: 18px;
          width: 18px;
          padding: 0;
          border: none;
          border-radius: 50%;
          color: rgba(255, 255, 255, 0);
          background-color: rgba(203, 148, 76, 0.33); }
          @media only screen and (max-width: 768px) {
            main .slider .slider-wrapper .slick-dots li button {
              height: 15px;
              width: 15px; } }
        main .slider .slider-wrapper .slick-dots li:hover {
          cursor: pointer; }
      main .slider .slider-wrapper .slick-dots .slick-active button {
        background-color: #cb944c; }
