@import "bourbon/bourbon";

@mixin placeholder-hide {
   &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
   &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
   &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
   &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
   &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
   &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
   &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
   &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;} 
}

@mixin media ($width) {
    @media only screen and (max-width : $width) {
        @content;
    }
}

header {
    text-align: center;  
    
    .wrapper {
        @include media (768px) {
            padding: 0;
        }
    }
    
    .logo {
        display: inline-block;        
        vertical-align: top;
        margin-top: em(34px);
        text-align: left;
        
        img {
            height: auto;
            width: 100%;
            @include media(768px) {
                height: 23px;
                width: 179px;
            }
        }
        p {
            padding: 5px 0;
            color: #747688;
            font: 400 em(17px) 'PT Sans';
            @include media(768px) {
                font-size: em(15.5px);
                padding: 3px 0;
            }
        }
    }
    .search {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: em(29px) em(92px) 0 em(43px);
        height: 40px;
        max-width: 496px;        
        width: 50%;    
        @include media (768px) {
            margin: em(29px) em(20px) 0 em(40px);
            max-width: 221px;
            width: 100%;
        }
        
        input {            
            width: 100%;
            height: 100%;
            border-style: solid;
            border-width: 1px;
            border-color: #b9b8bd;
            border-radius: 4px;
            
            &[type="text"] {
                font: 400 em(17px) 'PT Sans';
                padding-left: 10px;              
                @include placeholder-hide; 
                @include media (768px) {
                    font-size: em(14px);
                }
            }
        }
        svg {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px 9px 12px 0px;
            @include transform(rotate(-90deg));
            
            path {
                fill: #cb944c;    
            }
            
            @include animation-duration(0.5s);        
            @include media (768px) {
                margin: 12px 9px 10px 0px;
                height: 15px;
                width: 15px;
            }
        }
    }
    .contacts {
        display: inline-block;        
        text-align: left;                
        p {
            display: inline-block;            
            vertical-align: top;
            padding: 0;            
            &:first-child {
                margin-right: em(17px);  
                margin-top: em(27px);
                color: #181616;
                font: 400 em(25px) 'PT Sans';
                @include media (768px) {
                    margin-right: em(10px); 
                    font-size: em(22px);
                }
            }
            
            &:last-child {
                margin-top: em(37px);                
                font: 400 em(16px) 'PT Sans';
                @include media (768px) {
                    font-size: em(14px);
                }
                span {
                    color: #cb944c;
                }
            }
        }        
        
    }
    
    .menu {
        text-align: left;
        font-family: 'PT Sans';
        @include clearfix;
        border-top: 1px solid #dddfdf;        
        border-bottom: 1px solid #dddfdf;             
        @include media (768px) {
            border-top: none;        
            border-bottom: none;             
        }        
        padding: 0 15px 0 15px;
        width: 102%;
        margin-top: em(13px);
        margin-left: -1%;
        @include media (768px) {
            margin-left: 1%;
        }
        
        .menu-left {
            float: left;
            border-top: none;        
            border-bottom: none;             
            @include media (768px) {
                border-top: 1px solid #dddfdf;        
                border-bottom: 1px solid #dddfdf;
                padding-left: em(15px);
                padding-right: em(15px);
            } 
            
            ul {
                list-style: none;
                
                li {
                    display: inline-block;
                    position: relative;
                    padding-top: em(21px);
                    padding-bottom: em(22px);                       
                    
                    a {
                        padding-top: em(21px);
                        padding-bottom: em(22px);  
                        color: #171717;                        
                    }  
                    
                    svg {
                        
                        path {
                            fill: #cb944c;
                        }
                    }
                    
                    font-size: 1.1em;
                    font-weight: 700;
                    @include media (768px) {
                        font-size: 1.0em;
                    }
                    
                    &:first-child {
                        margin-right: em(12px);                        
                        padding: 0;
                    }
                    &:nth-child(3) {
                        margin-right: em(26px);                                                     
                    }
                    
                    &:nth-child(4) {
                        margin-right: em(23px);                        
                    }
                    &:nth-child(5) {
                        margin-right: em(21px);                        
                    }
                    &:nth-child(6) {
                        margin-right: em(23px);                        
                    }
                    &:nth-child(3) {
                        margin-right: em(26px);                        
                    }
                    
                    .menu-left-dropdown {
                        position: absolute;
                        top: 100%;   
                        padding-top: 8px;                        
                        @include animation-duration(0.5s);
                        
                        ul {
                            display: none; 
                            background:#fff;                      
                            border-color: #dddfdf;
                            border-radius: 3px;
                            border-style: solid;
                            border-width: 1px;                              
                            
                            ul {
                                li {   
                                    font-size: 1em;
                                    &:last-child {
                                        padding-top: em(15px);
                                        margin: 0 0 em(20px) 0;

                                        a {
                                            margin: 0;
                                        }
                                    }
                                }
                            }

                            li {
                                position: relative;
                                @include display(flex);
                                @include flex-direction(row);
                                @include align-items(center);
                                height: 35px;
                                width: 244px;
                                margin: 0;
                                padding: 0;

                                a {
                                    width: 100%;
                                    padding: 0;    
                                    color: #666666;
                                    font-weight: 400;     
                                    @include media (768px) {
                                        font-size: 1.1em;
                                    } 
                                }

                                img {

                                    &:first-child {
                                        margin-right: 9px;
                                        margin-left: 16px;
                                    }                                                                
                                }

                                svg {
                                    margin-right: 17px;  
                                    height: 19px;
                                    width: 15px;
                                    @include transform(rotate(90deg));                                    
                                }

                                &:first-child {
                                    margin-top: em(15px);
                                }
                                
                                &:nth-child(4) {
                                    &:hover .menu-left-dropdown-side > ul {
                                        display: block;
                               
                                    } 
                                }
                                
                                &:last-child {
                                    margin-bottom: em(20px);
                                    margin-top: em(2px);
                                    padding-bottom: 15px;
                                    a {
                                        margin-top: em(15px);
                                    }
                                }

                                h4 {
                                    color: #cb944c;
                                    padding: em(23px) 0 em(10px) em(18px);
                                    font-size: 1.0em;                     
                                    cursor: default;
                                }

                                &:hover {
                                    background-color: rgba(227, 227, 228, 0.77);                                    
                                }
                            }                                                                                   
                        }

                        .menu-left-dropdown-side {
                            position: absolute;
                            top: 0;
                            left: 100%;
                            padding-left: 5px;
                            @include animation-duration(0.5s);
                        }
                    }                                        
                }                
                          
            }
            
            .menu-left-catalog {
                margin-right: em(21px);
                
                svg {
                    margin-left: em(10px);
                    @include transform(rotate(180deg));
                    height: 7px;
                    width: 11px;                    
                }
                
                &:hover .menu-left-dropdown > ul {
                   display: block;
                }
            }
        }
        
        .menu-right_display-standalone {
            display: block;
            @include media (768px) {
                display: none;
            }
        }
        
        .menu-right_display-tablet {   
            @include media (1920px) {
                display: none;
            }
            @include media (768px) {
                display: block;
            }                       
        }
        
        .menu-right {
            float: right;              
            @include media (768px) {
                margin-right: 7%;
            }
            
            ul {
                list-style: none;                
                li {
                    display: inline-block;
                    vertical-align: middle;
                    p {                        
                        padding: 0;
                        color: #252a54;
                        font-size: 1em;
                        font-weight: 700;  
                        @include media (768px) {
                            font-size: 0.97em;
                        }   
                    }                                         
                }
            }
            
            .menu-right-shop {
                margin-right: em(12px);
                padding: 0;  
                
                img {
                    @include media (768px) {
                        width: 22px;
                        height: 22px;
                    }     
                }                
            }
            
            .menu-right-ellipse {
                position: relative;
                margin-right: em(5px);
                
                img {                      
                    padding: 0;
                    @include media (768px) {
                        width: 22px;
                        height: 22px;
                    } 
                }
                
                span {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    line-height: 21px;
                    color: #ffffff;
                    font-weight: 700;
                }
            }
            
            .menu-right-login {
                position: relative;
                margin: em(18px) em(8px) em(19px) em(19px);              
                
                svg {    
                    
                    &:first-child {                        
                        height: 18px;
                        width: 20px;
                        
                        path {
                            fill: #cb944c;    
                        }
                    }
                    
                    &:last-child {
                        position: absolute;
                        height: 6px;
                        width: 6px;                        
                        bottom: 3px;
                        right: 1px;
                        
                         path {
                            fill: white;    
                        }
                    }
                }
            }
            
            .menu-right-enter {
                
                a {         
                    padding: 0;
                    color: #252a54;
                    font-size: 1.1em;
                    font-weight: 700; 
                    @include media (768px) {
                        font-size: 1em;
                    } 
                }
            }
        }
    }
    
    
    
    .wrapper_standalone {
        display: block;
        @include media (320px) {
            display: none;
        }
    }
    
    .wrapper_mobile {
        display: none;
        @include media (320px) {
            display: block;            
        } 
        text-align: left;        
        
        ul {
            background-color: #f0f1f6;
            display: flex;
            justify-content: space-between;
            
            li {
                display: inline-block;
            }
        }
        vertical-align: top;
        .menu-mobile-icon {
            
            padding: 12px 19px 12px 19px;            
            vertical-align: top;
            background-color: #3eade2;
            
            img {
                z-index: 1;
            }
        }
        .menu-mobile-home {                        
            height: 40px;
            vertical-align: top;
            padding: 13px 10px 0 10px;
            margin-left: 8px;
        }
        .menu-mobile-search {
            
            height: 40px;
            vertical-align: top;
            padding: 13px 10px 0 10px;
            margin: 0 10px;
            @include transform(rotate(-90deg));
            
            path {
                fill: #dbdbdc;    
            }
        }
        .menu-mobile-shop {
            
            height: 40px;
            vertical-align: top;
            padding: 12px 10px 0 10px;
            margin: 0 10px;
        }
        .menu-mobile-login {
            
            height: 40px;
            vertical-align: top;
            padding: 13px 10px 0 10px;
            margin: 0 10px;
            
            div {
                position: relative;
                
                svg {
                    
                    &:first-child {
                        
                        path {
                            fill: #dbdbdc;
                        }
                    }
                    
                    &:last-child {
                        position: absolute;
                        height: 6px;
                        width: 6px;  
                        bottom: 3px;
                        right: 1px;
                        
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        .menu-mobile-phone {
            
            height: 40px;
            vertical-align: top;
            padding: 13px 10px 0 10px;
            margin-right: 18px;
        }
        
        .logo {
            margin-left: 20px;
            margin-top: 13px;
        }
    }        
}

main {
    
    .slider {
        position: relative;
        margin: 0 auto;        
        top: em(-20px);
        max-width: 1354px;                
        @include media(768px) {
            top: em(-30px);
        }
        
        svg {
            position: absolute;
            top: 43%;            
            z-index: 1;  
            background-color: rgba(210, 166, 107, 0.88);      
            height:auto;
            width: 130px;
            @include media(768px) {
                width: 70px;
                top: 40%; 
            }
            
            path {
                fill: rgba(255, 255, 255, 0.88);
            }
            
            &:first-child {
                left: -25px;
                padding: 8px 50px 15px 50px;
                @include transform(rotate(-90deg));     
                @include media(768px) {
                    padding: 8px 45px 15px 40px;
                    left: -11px;
                }
                @include media(320px) {
                    left: -31px;
                    padding: 11px 40px 15px 30px;
                }
            }
            
            &:nth-child(2) {
                right: -25px;
                padding: 8px 50px 15px 50px;
                @include transform(rotate(90deg));  
                @include media(768px) {
                    padding: 8px 45px 15px 40px;
                    right: -11px;
                }
                @include media(320px) {
                    right: -31px;
                    padding: 11px 40px 15px 30px;
                }
            }
            
            &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.88);                
                
                path {
                    fill: rgba(210, 166, 107, 0.88);

                }
            }                         
        }
                        
        .slider-wrapper {
            margin: 0 20px;     
            @include media(320px) {
                margin: 0;
            }
            
            div {            
                position: relative;            

                &:first-child {                

                    p {
                        position: absolute;
                        top: 35%;
                        left: 10%;                    
                        padding: 20px 48px 20px 33px;
                        color: #ffffff;
                        font-family: 'PT Sans';
                        font-size: em(51px);
                        background-color: rgba(210, 166, 107, 0.88);
                        @include media(768px) {
                            font-size: em(25px);
                        }
                        @include media(320px) {
                            font-size: em(20px);
                            padding: 6px 20px 5px 8px;
                        }
                    }
                }
                
                img {
                    @include media(768px) {
                        width: 742px;
                    }
                    @include media(320px) {
                        height: 124px;
                        width: 320px;
                    }
                }
            }  
            
            .slick-dots {
                text-align: center;
                margin-top: 30px;                
                
                li {
                    list-style: none;
                    display: inline;                                       
                    margin: 0 1px;  
                    padding: 10px;
                    @include media(320px) {
                        display: none;
                    }
                    
                    button {
                        opacity: 1;
                        height: 18px;
                        width: 18px;
                        padding: 0;
                        border: none;   
                        border-radius: 50%;
                        color: rgba(255, 255, 255, 0);
                        background-color: rgba(203, 148, 76, 0.33);                                     @include media(768px) {
                            height: 15px;
                            width: 15px;
                        }        
                    }
                    &:hover {
                        cursor: pointer;                      
                    }
                }
                .slick-active {
                    button {
                        background-color: #cb944c;
                    }
                }
            }
        }            
    }
}